main {
	font-size: 160%;
}

table {
	font-size: 100%;
}

.cen {
	padding: 1% 0% 1% 30%;
}

h1 {
	font-size: 450%;
}

main h2 {
	font-size: 320%;
	padding: 0% 0% 1% 32%;
}

#t1 {
	width: 80%;
	border: 0px solid #d0e1f9;
	rules = none;
}

t1 td {
	width: 40%;
	border: 0px solid #d0e1f9;
	rules = none;
}

t2 {
	padding: 0%;
}

t2 th, td {
	padding: 3%;
}

img {
	display: block;
	width: 100%;
	height: 30%;
	padding: 0% 0% 0% 10%;
}

hr {
	padding: 1%;
}

