body {
	background-color: #d0e1f9;
}

header {
	padding: 1% 1% 0% 3%;
}

header a{
	display: inline-block;
	width: 28%;
	padding: 1% 2% 1% 2%;
	background-color: #4d648d;
	color: #d0e1f9;
	text-align: center;
	border: 3px solid #051e3e;
}

nav div{
	display: inline-block;
	width: 43%;
	padding: 1% 3% 1% 3%;
	font-size: 200%;
	text-align: center;
	background-color: #4d648d;
	color: #d0e1f9;
	border: 5px solid #051e3e;
}

nav a {
	color: #d0e1f9;#d0e1f9;
	font-size: 200%;
	font-family: copperplate;
	display: block;
	padding: 8% 0% 8% 0%;
}

nav ul {
	list-style-type: none;
}

#signout, #db {
	display: block;
	padding: 0% 20% 2% 30%;
	font-size: 150%;
}

#signout p {
	padding: 2% 0% 3% 2%;
	border-left: 8px solid #051e3e;
}

h1 {
	font-size: 320%;
	padding: 2% 0% 0% 2%;
	color: #051e3e;
}

#db p{
	padding: 1% 0% 0% 4%;
}

#tb {
	padding: 1%;
}

table {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 0% 10% 0% 10%;
	background-color: #005b96;
	color: #d0e1f9;
	font-size: 110%;
	border: 5px solid #051e3e;
	border-radius: 5%;
	border-collapse: collapse;
}

th {
	width: 20%;
	font-size: 130%;
	text-align: Center;
	padding: 1% 0% 1% 0%;
	border: 2px solid black;
}

td {
	width: 20%;
	font-size: 120%;
	text-align: right;
	text-shadow: 2px 2px grey;
	border: 2px solid black;
}

footer {
	background-color: #051e3e;
	color: #d0e1f9;
}

footer div{
	text-align: center;
	font-size: 150%;
	padding: 1% 0% 2% 0%;
}

footer h2 {
	font-size: 250%;
	color: #d0e1f9;
}